In [5]:
import os
import sys
from pathlib import Path
root_path = Path.cwd().parent.parent
sys.path.append(root_path)

file_path = root_path / "examples/heart_attack/heart_attack_dataset.csv"

### Load without transformer

In [7]:
from gaubongai.data_management import DataProcessor
from gaubongai.data_management.loaders import PandasCSVLoader
from gaubongai.data_management.transformers import PandasDfTransformer

loader = PandasCSVLoader()
data_processor = DataProcessor(loader=loader)

data_container = data_processor.process_file(file_path)
data_container.data.head()

,Age,Gender,Cholesterol,BloodPressure,HeartRate,BMI,Smoker,Diabetes,Hypertension,FamilyHistory,...,ExerciseInducedAngina,Slope,NumberOfMajorVessels,Thalassemia,PreviousHeartAttack,StrokeHistory,Residence,EmploymentStatus,MaritalStatus,Outcome
0,31,Male,194,162,71,22.9,0,1,0,0,...,Yes,Downsloping,1,Normal,0,0,Suburban,Retired,Single,No Heart Attack
1,69,Male,208,148,93,33.9,1,1,0,0,...,Yes,Upsloping,2,Normal,0,0,Suburban,Unemployed,Married,No Heart Attack
2,34,Female,132,161,94,34.0,0,0,1,1,...,Yes,Upsloping,0,Normal,1,0,Rural,Retired,Single,Heart Attack
3,53,Male,268,134,91,35.0,0,1,1,0,...,Yes,Flat,0,Reversible defect,1,0,Suburban,Retired,Widowed,No Heart Attack
4,57,Female,203,140,75,30.1,0,1,0,0,...,Yes,Flat,0,Fixed defect,1,0,Rural,Retired,Married,Heart Attack

### Load with transformer

In [8]:
loader = PandasCSVLoader()
transformer = PandasDfTransformer(
    rename_columns={
        "Age": "age",
    }
)

data_processor = DataProcessor(loader=loader, transformers=[transformer])

data1 = data_processor.process_file(file_path)
data1.data.head()

,age,Gender,Cholesterol,BloodPressure,HeartRate,BMI,Smoker,Diabetes,Hypertension,FamilyHistory,...,ExerciseInducedAngina,Slope,NumberOfMajorVessels,Thalassemia,PreviousHeartAttack,StrokeHistory,Residence,EmploymentStatus,MaritalStatus,Outcome
0,31,Male,194,162,71,22.9,0,1,0,0,...,Yes,Downsloping,1,Normal,0,0,Suburban,Retired,Single,No Heart Attack
1,69,Male,208,148,93,33.9,1,1,0,0,...,Yes,Upsloping,2,Normal,0,0,Suburban,Unemployed,Married,No Heart Attack
2,34,Female,132,161,94,34.0,0,0,1,1,...,Yes,Upsloping,0,Normal,1,0,Rural,Retired,Single,Heart Attack
3,53,Male,268,134,91,35.0,0,1,1,0,...,Yes,Flat,0,Reversible defect,1,0,Suburban,Retired,Widowed,No Heart Attack
4,57,Female,203,140,75,30.1,0,1,0,0,...,Yes,Flat,0,Fixed defect,1,0,Rural,Retired,Married,Heart Attack

### Transform data container

In [12]:
transformer2 = PandasDfTransformer(
    rename_columns={

        "Gender": "gender",

    }
)
data_processor2 = DataProcessor(transformers=[transformer2])
data2 = data_processor2.process_data_container(data1)
data2.data.head()

,start_date,end_date,ger_lux,de_lu_neighbours,belgium,denmark1,denmark2,france,netherlands,norway2,austria,poland,sweden4,switzerland,czech_republic,de_at_lu,northern_italy,slovenia,hungary
0,2023-01-01 00:00:00,2023-01-01 01:00:00,-5.17,13.85,-4.39,2.01,2.01,0.00,-3.61,119.32,12.06,18.09,2.01,0.03,4.84,-,195.90,13.31,19.76
1,2023-01-01 01:00:00,2023-01-01 02:00:00,-1.07,9.79,-1.75,1.38,1.38,-0.10,-1.46,108.83,-0.10,5.75,1.38,-7.25,-0.35,-,191.09,-0.07,0.19
2,2023-01-01 02:00:00,2023-01-01 03:00:00,-1.47,8.91,-1.46,0.09,0.09,-1.33,-1.52,102.39,-0.66,5.27,0.09,-3.99,-0.97,-,187.95,-0.47,0.07
3,2023-01-01 03:00:00,2023-01-01 04:00:00,-5.08,6.58,-5.27,0.08,0.08,-4.08,-5.00,92.36,-1.99,5.74,0.08,-7.71,-1.93,-,187.82,-1.56,0.01
4,2023-01-01 04:00:00,2023-01-01 05:00:00,-4.49,5.42,-4.41,0.05,0.05,-4.16,-4.60,82.66,-2.42,5.22,0.05,-9.71,-3.07,-,187.74,-1.94,-0.77